<div class="navbar-header">
    <a class="navbar-brand" routerLink="/">Recipe Book</a>
    <button type="button" class="navbar-toggle" (click)="collapsed=!collapsed">
        <span class="icon-bar" *ngFor="let a of [1,2,3]">__</span>
    </button>
</div>

<div class="navbar-collapse" (window:resize)="collapsed=true" [class.collapse]="collapsed">
    <ul class="nav navbar-nav">
        <li><a routerLink="/recipes" routerLinkActive="active" role="button">Recipies</a></li>
        <li><a routerLink="/shoping-list" routerLinkActive="active" role="button">Shoping List</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
            <a style="cursor: pointer;" class="dropdown-toggle" type="button">Manage<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a style="cursor: pointer;">Save Data</a></li>
                <li><a style="cursor: pointer;">Fetch Data</a></li>
            </ul>
        </li>
    </ul>
</div>