<div class="row">
    <div class="col-xs-8">
        <form [formGroup]="recipeForm">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary" [disabled]="!recipeForm.valid"
                        (click)="saveRecipe()">Save</button>&nbsp;
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" formControlName="name">
                    </div>
                    <div class="form-group">
                        <label for="imgUrl">ImageUrl</label>
                        <input type="text" class="form-control" formControlName="imgUrl"
                        #imageURLPath
                        >
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <img [src]="imageURLPath.value" class="img-responsive">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" rows="6" formControlName="description"></textarea>
                    </div>

                    <div class="row" style="margin-top: 10px;">
                        <div class="col-xs-12" formArrayName="ingredents">
                            <div class="row" *ngFor="let ingredent of getControls(); let i=index" [formGroupName]="i">
                                <div class="col-xs-7">
                                    <input type="text" class="form-control" formControlName="name">
                                </div>
                                <div class="col-xs-3">
                                    <input type="number" class="form-control" formControlName="amount">
                                </div>
                                <div class="col-xs-2" (click)="onDeleteIngredent(i)">
                                    <button type="button" class="btn btn-danger">X</button>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button type="button" class="btn btn-primary" (click)="onAddIngredent()">Add
                                        New</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>